<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Scooty Booty</title>
    <style>
        html,body {
            background-color: #198754;
        }

        .banner {
            height: 150px;
        }

    </style>
</head>
<body>
    <div class="banner d-inline-flex flex-row flex-nowrap justify-content-center w-100">
        <img class="h-100 p-2" src={{url_for('static', filename='grug.png')}}>
        <div class="h-auto p-2 justify-self-stretch">
            <h2 class="display-2 pt-4 pb-4 text-black w-100">Scooty Booty</h2>
        </div>
        <img class="h-100 p-2" src={{url_for('static', filename='apu.png')}}>
    </div>
    <div class="chart-wrap container my-3 bg-dark">
        <canvas id="chart"></canvas>
    </div>
    <table class="table table-hover table-bordered table-dark table-striped col-md-10 offset-md-1">
        <thead>
            <tr>
                {% for h in headers %}
                <th scope="col">{{h}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for item in row %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% block javascript %}
    <script src="{{url_for('static', filename='chart.min.js')}}"></script>
    <script>
        labels = JSON.parse({{ labels | tojson }})
        data = JSON.parse({{ data | tojson }})
        new Chart(document.getElementById('chart'), {
                    'type': 'line',
                    'data': {
                        'labels': labels,
                        'datasets': [{
                            'label': 'Scooty Booty Data',
                            'data': data,
                            'fill': false,
                            'borderColor': 'rgb(75,192,192)',
                            'color': '#eeeeee',
                            'lineTension': 0.1
                        }]
                    },
                    'options': {}
                });
    </script>
{% endblock %}
</html>
