<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Scooty Booty</title>
</head>
<body>
    <h2 class="d-flex justify-content-center flex-nowrap pt-4 pb-4">Scooty Booty</h2>
    <table class="table table-hover table-bordered col-md-10 offset-md-1">
        {% for row in rows %}
        <tr>
            {% for item in row %}
            <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>